.pomodoro-growing-timer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodoro-completed-size {
  @include sm-device {
    height: 80vw;
    width: 80vw;
  }; 
  @include md-device {
    height: 60vw;
    width: 60vw;
  }; 
  @include lg-device {
    height: 40vw;
    width: 40vw;
  }; 
}