// Sass Variables

// Colors
$secondary-dark : #3f4cba;
$secondary : #7678ED;
$secondary-light: #aba7ff;
$primary-dark : #b82600;
$primary-light : #ff8d3e;
$primary: #F35B04;
$white-dark: #e6e6e6;
$white-light: #fefefe;


