<!--
    The SVG is the stem
-->
<div style="align-items: center;justify-content: center; display: flex;">
    <div class="pomodoro-growing-timer pomodoro-completed-size ">
        <div name="tomatoe"
        [@enlarge]="{ 
            value: startTimer, 
            params: {
                startWidth: (percentComplete * 70/100) + 30,
                startHeight: (percentComplete * 70/100) + 30,
                endWidth: 100,
                endHeight: 100,
                animateTime: animateTime
            }
        }" [@colorChange]="{ 
            value: startTimer, 
            params: {
                startColor: 'green',
                endColor: 'red',
                animateTime: animateTime
            }
        }" style="background-color: red; border-radius: 50%;">
            
        </div>
        <div name="stem" [@enlarge]="{ 
            value: startTimer, 
            params: {
                startWidth: (percentComplete * 70/100) + 30,
                startHeight: (percentComplete * 70/100) + 30,
                endWidth: 100,
                endHeight: 100,
                animateTime: animateTime
            }
        }" style="position:absolute; transform: rotate(-10deg);justify-self: center;">
            <img src="../../../assets/svgs/stem.svg">    
        </div>
        
        <div name="outline" class="pomodoro-completed-size" style="position: absolute; border-radius: 50%; border: green 2px dotted ;border-radius: 50%;">

        </div>
    </div>
</div>
