<!--
    The SVG is the stem
-->
<div style="background-color: beige; align-items: center;justify-content: center; display: flex;">
    <div class="pomodoro-growing-timer" style="height: 500px; width: 500px;justify-content: center;">
        <div name="tomatoe"
        [@enlarge]="{ 
            value: _startTimer, 
            params: {
                startWidth: 30 + getPercentLeft(),
                startHeight: 30 + getPercentLeft(),
                endWidth: 100,
                endHeight: 100,
                animateTime: getAnimateTime()
            }
        }" [@colorChange]="{ 
            value: _startTimer, 
            params: {
                startColor: 'green',
                endColor: 'red',
                animateTime: getAnimateTime()
            }
        }" style="background-color: red; border-radius: 50%;">
            
        </div>
        <div name="stem" [@enlarge]="{ 
            value: _startTimer, 
            params: {
                startWidth: 30 + getPercentLeft(),
                startHeight: 30 + getPercentLeft(),
                endWidth: 100,
                endHeight: 100,
                animateTime: getAnimateTime()
            }
        }" style="position:absolute; top:0; transform: rotate(-10deg);justify-self: center;">
            <img src="../../../assets/svgs/stem.svg">    
        </div>
        
        <div name="outline" style="height: 500px; width: 500px; position: absolute; border-radius: 50%; border: green 2px dotted ;border-radius: 50%;">

        </div>
    </div>
</div>
