.nav-bar-container {
    position: fixed;
    height: 6rem;
    bottom: 0;
    background-color: $dark-purple;
    width: 100vw;
}

.nav-bar-home {
    color: $medium-purple;
    font-size: 2rem;
}

.nav-bar-settings {
    color: $medium-purple;
    font-size: 2rem;
}