.nav-bar-container {
    position: fixed;
    height: 6rem;
    bottom: 0;
    background-color: $secondary-dark;
    width: 100%;
}

.nav-bar-home {
    color: $secondary-light;
    font-size: 2rem;
}

.nav-bar-settings {
    color: $secondary-light;
    font-size: 2rem;
}